body{
    margin: 0;
    padding: 0;
    font-family: Arial;
    background-image: url("images/top-banner.png");
    background-repeat:no-repeat;
    background-size:100%;
}
.top{
    display:flex;
    float:left;
    width:100%
}
div{
    margin-left:5%;
    padding: 4%;
    wo
}
img{
    width: 100%;
}
h1{
    font-size:50px;
}
.colo{
    color: orange;

}
a{
    text-decoration:none;
    background-image:linear-gradient(to right, rgb(230, 24, 24),rgb(252, 210, 120));
    padding: 10px;
    color:white;
    border-radius: 10px;
}
.midpara{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position:right;
}
.half{
    height: 250px;
    background-color: aliceblue;
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}
.footer{
    display: block;
}
.flwx{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 5%;
}
.half{
    border-left: 5px solid transparent;
    border-image-source: linear-gradient(to bottom, rgb(49, 193, 218), rgb(252, 210, 120));
    border-image-slice:1;
    border-top-left-radius: 10px;
}